%ul.exo-horizontal-nav
  %li
    - if respond_to? :parent and parent
      = link_to "Back To #{parent.class.try(:name).try(:humanize)}", parent_url, class: 'exo-button exo-dark'
    - else
      = link_to collection_path, class: 'exo-button exo-dark' do
        All
        .exo-tiny-icon-search
  - if if_path(/#{collection_path.tr('/','\/')}\/\w+/) and (! if_path(/\/new\/?$/)) and resource
    %li= link_to 'Edit',  edit_resource_path(resource), class: 'exo-button exo-dark'
    %li= link_to 'Delete', resource, method: :delete, class: 'exo-button exo-dark'
  %li
    = link_to new_resource_path, class: 'exo-button exo-dark' do
      Add
      .exo-tiny-icon-plus
